.form-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 10px;

  form {
    flex: 1;
    background-color: white;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    min-height: 570px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    h1 {
      text-align: center;
      width: 100%;
      font-weight: 500;
      font-size: 30px;
      margin-bottom: 5px;

      @media screen and (max-width: 500px) {
        text-align: center;
        font-size: 25px;
      }
    }

    p {
      text-align: center;
      width: 100%;
      font-weight: 300;
      margin-bottom: 30px;

      @media screen and (max-width: 500px) {
        text-align: center;
      }
    }

    label {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      span {
        margin-right: 5px;

        svg {
          color: var(--primary-color);
        }
      }

      input {
        border: none;
        width: 100%;
        padding: 10px;
        outline: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:focus {
          border-bottom: 1px solid var(--primary-color);
        }
      }
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="submit"] {
      margin-top: 30px;
      border: none;
      border-radius: 8px;
      padding: 15px;
      width: 100%;
      background-color: var(--primary-color);
      outline: none;
      cursor: pointer;

      font-weight: 700;
      color: white;
      letter-spacing: 1px;
      text-transform: uppercase;

      &:hover {
        background-color: var(--secondary-color);
      }

      @media screen and (max-width: 550px) {
        text-align: center;
        padding: 20px;
      }
    }
    @media screen and (max-width: 550px) {
      width: 80%;
      border-radius: 10px;
    }
  }

  @media screen and (max-width: 550px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
  }
}

.form-info {
  flex: 1;
  background: var(--primary-color);
  min-height: 570px;
  width: 100%;
  padding: 2rem 2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: contain;
    }
  }

  p {
    margin-bottom: 30px;
    span {
      font-weight: 800;
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: 550px) {
    width: 80%;
    border-radius: 10px;

    img {
      width: 50%;
      height: 50%;
    }
  }
}

.form-illustrator {
  flex: 1;
  background: var(--primary-color);
  min-height: 570px;
  width: 100%;
  padding: 2rem 2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 400;
      color: var(--black-color);
    }

    img {
      border-radius: 50%;
      width: 80%;
      height: 80%;
    }
  }
  @media screen and (max-width: 550px) {
    width: 80%;
    border-radius: 10px;

    img {
      width: 50%;
      height: 50%;
    }
  }
}
