.form-contain {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 10px;
  max-width: 1200px;

  form {
    flex: 1;
    background-color: white;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    min-height: 570px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    h1 {
        text-align: center;
        width: 100%;
        font-weight: 500;
        font-size: 2rem;
        margin-bottom: 50px;
  
        @media screen and (max-width: 500px) {
          text-align: center;
          font-size: 25px;
          margin-bottom: 20px;
        }
      }

      label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        span {
          margin-right: 5px;
  
          svg {
            color: var(--primary-color);
          }
        }
  
        input {
          border: none;
          width: 100%;
          padding: 10px;
          outline: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
          &:focus {
            border-bottom: 1px solid var(--primary-color);
          }
        }
      }
      
  @media screen and (max-width: 550px) {
    width: 80%;
    border-radius: 10px;
  }
  }

  @media screen and (max-width: 550px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
  }

}

.radio {
    display: flex;
    justify-content: center;

    span {
        margin-right: 5px;

        svg {
          color: var(--primary-color);
        }
      }
}

.form-illustrator {
    svg {
        margin-top: 20px;
        cursor: pointer;
        height: 50px;
        width: 50px;
    }
}

.form-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input[type="submit"] {
        margin-top: 30px;
        border: 1px solid;
        border-radius: 8px;
        
        padding: 15px;
        width: 100%;
        background-color: var(--primary-color);
        outline: none;
        cursor: pointer;
  
        font-weight: 700;
        color: black;
        letter-spacing: 1px;
        text-transform: uppercase;
  
        &:hover {
          background-color: var(--secondary-color);
          color: white
        }
  
        @media screen and (max-width: 550px) {
          text-align: center;
          padding: 20px;
        }
      }
}