.App {
  background: #f8f9fb;
  height: 100vh;
  padding: 0 10rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 550px) {
    height: 100%;
  }
}

@media screen and (max-width: 900px) {
  .App {
    padding: 0rem 2.4rem;
  }
}

@media screen and (max-width: 550px) {
  .App {
    padding: 2rem 1rem;
  }
}

.home {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh;
  width: 100%;
  position: relative;
  gap: 1rem;
  // margin: 0 auto;

  .nav {
    // border: 1px solid #000000;
    padding: 1rem;
    text-decoration: none;
    background: greenyellow;
    border-radius: 10px;
    // color: #fff;

    &:hover {
      color: #ffffff;
    }
  }

  // input[type="submit"] {
  //   margin-top: 30px;
  //   border: none;
  //   border-radius: 8px;

  //   padding: 10px;
  //   width: 10%;
  //   background-color: var(--primary-color);
  //   // outline: none;
  //   cursor: pointer;

  //   font-weight: 700;
  //   color: black;
  //   letter-spacing: 1px;
  //   text-transform: uppercase;

  //   &:hover {
  //     background-color: var(--secondary-color);
  //     color: white
  //   }

  //   @media screen and (max-width: 550px) {
  //     text-align: center;
  //     padding: 20px;
  //   }
  // }
}
